/*
Use units or an array with width and height paramethers as size
Examples:

.triangle(@size: {width: 20px; height: 15px}); // Set width and height directly
.triangle(@size: 25px); // Set width equal to height 

*/
/* Drop default styles  */
@import '/css/bootstrap-grid.css';
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul,
ol {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
input,
textarea,
button,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/GoogleRoboto/Roboto-Regular.ttf') format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 700;
  src: url('../fonts/GoogleRoboto/Roboto-Bold.ttf') format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/GoogleRoboto/Roboto-Itelic.ttf') format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/GoogleMontserrat/Montserrat-Regular.ttf') format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: bold;
  font-weight: 700;
  src: url('../fonts/GoogleMontserrat/Montserrat-Bold.ttf') format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/GoogleMontserrat/Montserrat-Itelic.ttf') format('woff2');
}
.test {
  font-size: 1rem;
}
.btn {
  display: inline-block;
  padding: 0.25em 0.75em;
  border: 2px solid transparent;
  background-color: transparent;
  line-height: initial;
  outline: none;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.25em;
  transition: background-color 0.25s ease;
}
.btn-primary {
  background-color: #2c84cc;
  color: #f4f4f4;
}
.btn-primary:focus,
.btn-primary:active {
  border-color: rgba(12, 37, 57, 0.75);
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #2369a2;
}
.btn-secondary {
  background-color: #1f4d74;
  color: #f4f4f4;
}
.btn-secondary:focus,
.btn-secondary:active {
  border-color: rgba(0, 0, 0, 0.75);
}
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #14324c;
}
.btn-success {
  background-color: #3caea3;
  color: #f4f4f4;
}
.btn-success:focus,
.btn-success:active {
  border-color: rgba(14, 41, 39, 0.75);
}
.btn-success:hover,
.btn-success:focus {
  background-color: #2f887f;
}
.btn-warning {
  background-color: #f6d55c;
  color: #39434d;
}
.btn-warning:focus,
.btn-warning:active {
  border-color: rgba(151, 121, 8, 0.75);
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #f3c92c;
}
.btn-danger {
  background-color: #ed553b;
  color: #f4f4f4;
}
.btn-danger:focus,
.btn-danger:active {
  border-color: rgba(108, 24, 10, 0.75);
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #e03215;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.form-group {
  margin-bottom: 0.5em;
}
.form-input {
  border: 0.1em solid #39434d;
  display: block;
  line-height: normal;
  padding: 0.25em 0.1em;
  width: 100%;
  font-size: 1.25rem;
  outline: none;
}
.form-input:focus {
  border-color: #2c84cc;
  outline: none;
}
.form-label {
  color: #555;
  font-size: 1rem;
  padding: 0;
}
.form-help,
.form-warning {
  font-size: 0.85rem;
}
.form-help {
  color: #333;
}
.form-warning {
  color: #ed553b;
}
p.form-warning {
  font-weight: 700;
}
.form-submit {
  display: block;
  width: 100%;
}
.form-submit__container {
  margin: 0 auto;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16pt;
  line-height: 1.65;
}
