// ===========
// Color scheme
// ===========

@color: {
  primary: #2045ff;
  secondary: #d0d7fd;
  error: #e6386e;
  warning: #ffc208;
  success: #02c281;
};

// ===========
// Font colors
// ===========

@text: {
  white-100: #fff;

  grey-75: #ccc;
  grey-50: #888;
  grey-25: #444;

  black-100: #000;

  secondary: #1c32a2;
};

// ==========
// Breakpoints
// ==========

@bp: {
  sm: 540px;
  md: 720px;
  lg: 960px;
  xl: 1140px;
};

// ==========
// Z indexes
// ==========

@z: {
  dropdown: 100;
  modal: 200;
  popover: 300;
  tooltip: 400;
};

// ==========
// Font sizes
// ==========

@fonts: {
  regular: 'Raleway';
  headings: 'Montserrat';
};

// ===========
// Shadows
// ===========

@shadow: {
  regular: 0 0.1rem 0.1rem rgba(@text[black-100], 15%);
};
