doctype html
html(lang="ru")
  head
    title Главная страница | Lessy

    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="./css/style.css")
    link(rel="shortcut icon", href="./img/logo.png", type="image/x-icon")
  body
    h1.title Lessy framework
    h2 Типрографика

    h1 Заголовок 1
    h2 Заголовок 2
    h3 Заголовок 3
    h4 Заголовок 4
    h5 Заголовок 5
    h6 Заголовок 6

    div.typography Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Безорфографичный, не? 
      | Буквоград однажды текстами даль он раз свой lorem, великий собрал обеспечивает образ страну над заголовок она своих 
      | единственное!Букв дорогу он путь прямо? Вершину пояс встретил запятой до вопроса переписали они! Великий маленький, 
      | использовало меня повстречался текст океана запятой о рукопись путь вдали ее моей, семантика его он!

      br
      strong Полужирный 
      em Курсив 
      u Подчёркнутый 
      del Перечёркнутый 
      a(href="#") Ссылка

    hr

    h2 Компоненты
      h3 Кнопки
      .button-list 
        button.button.primary Основной
        button.button.secondary Вторичный
        button.button.error Ошибка
        button.button.warning Предупреждение
        button.button.success Успех

      .button-list 
        button.button.primary.outline Основной
        button.button.secondary.outline Вторичный
        button.button.error.outline Ошибка
        button.button.warning.outline Предупреждение
        button.button.success.outline Успех

      hr

      h2 Элементы формы

      #test-form 
        form.form(action="") 
          .form-group
            label.form-label Лейбл формы
              input(type="text" name="field1" placeholder="Плейсхолдер").form-input

          label.form-group.form-checkbox Текст чекбокса
            input(type="checkbox", name="field4")

          label.form-group.form-checkbox.disabled Выключенный
            input(type="checkbox" name="field5")

          .form-group 
            label.form-label Текст селекта 
              select(name="field2").form-input
                option(value="value1") Москва 
                option(value="value1") Санкт-Петербург 
                option(value="value1") Екатеринбург 
                option(value="value1") Ростов-на-Дону 
          
          .form-group 
            label.form-radio Текст радиокнопки 1
              input(type="radio" name="field3")
            label.form-radio Текст радиокнопки 2
              input(type="radio" name="field3")
            label.form-radio Текст радиокнопки 3
              input(type="radio" name="field3")
            label.form-radio.disabled Выключенный
              input(type="radio" name="field3")
