.form,
.form-group,
.form-input,
.form-label {
  display: block;
  width: 100%;
}

// =======
// Form group
// =======

.form-group {
  margin-bottom: 1.25rem;
}

// =======
// Form input
// =======

.form-input {
  border: 1px solid @color[secondary];
  padding: 0.5rem 1rem;

  border-radius: 0.5rem;
  outline: none;

  font: normal 500 16pt @fonts[regular];

  transition: 250ms ease-out;

  &:hover,
  &:focus {
    border-color: @color[primary];
  }
}

// =======
// Form checkbox & radio
// =======

.form-checkbox,
.form-radio {
  cursor: pointer;

  position: relative;
  transition: 250ms ease-in;

  & > input {
    display: none;
  }
}

// =======
// Form checkbox
// =======

.form-checkbox {
  @size: 2.25rem;

  text-transform: uppercase;

  &.active {
    color: @color[primary];

    &:after {
      background-color: @color[primary];
      transform: translateX(calc(@size + 1px));
    }
  }

  &.disabled {
    color: @text[blue-75];

    &:after {
      background-color: @color[secondary];
    }
  }

  &:not(.disabled) {
    &:hover,
    &:focus {
      &:before {
        border-color: @color[primary];
      }
    }
  }

  &:before,
  &:after {
    content: '';
    display: inline-block;
    border-radius: 99rem;
  }

  // outer box
  &:before {
    width: 2 * @size;
    height: @size;
    margin-right: 1.25rem;

    border: 1px solid @color[secondary];

    position: relative;
    transition: 250ms ease-out;
    float: left;
  }

  // inner circle
  &:after {
    background-color: @color[primary];
    width: @size;
    height: @size;

    position: absolute;
    left: 1px;
    top: 1px;

    transition: 250ms ease-out;
  }
}

// =======
// Form radio
// =======

.form-radio {
  @size: 1.25rem;

  display: block;
  position: relative;
  cursor: pointer;

  &.active {
    color: @color[primary];

    &:before {
      background-color: @color[primary];
      border-color: @color[primary];
    }
  }

  &.disabled {
    color: @text[blue-75];

    &:before {
      border-color: @color[secondary];
    }
  }

  &:not(.disabled) {
    &:hover,
    &:focus {
      &:before {
        border-color: @color[primary];
      }
    }
  }

  &:before {
    content: '';
    border: 0.02rem solid;
    display: block;
    float: left;
    height: @size;
    margin-right: 1rem;
    width: @size;

    border-color: @text[grey-50];
    border-radius: 99rem;

    position: relative;

    transform: translateY(calc(@size / 2));
    transition: 250ms ease;
  }
}

// =======
// Form label
// =======

.form-label {
  text-transform: uppercase;
  color: @color[primary];
  font-size: 10pt;
  cursor: pointer;
}
